.App {
	text-align: center;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.App-logo {
	height: 80px;
}

input {
	border: 1px solid #1e8678;
}
.object-body {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.App-header {
	background-color: #1e8678;
	height: 100px;
	padding: 20px;
	color: #222;
}

.App-title {
	font-size: 1.5em;
	font-weight: bold;
	color: white;
}

cite {
	font-weight: bold;
}
table {
	align-content: center;
	margin: auto;
}
td {
	padding: 10px;
}

.App-intro {
	font-size: large;
}
.cap-first-letter:first-letter {
	text-transform: capitalize;
}
.col-sm-6,
col-md-4 {
	border: 1px;
}

.hometext {
	max-width: 60%;
}
.objectlink {
	padding: 0.4rem 0.8rem;
	font-size: 1.5rem;         
	font-weight: bold;
	background-color: white;
	border-radius: 3px;
	color: #1e8678;
	text-decoration: none !important;
	margin: 5px;
}

.objectlink:hover {
	background-color: transparent;
	color: rgb(60, 20, 221);
	border: 2px solid rgb(21, 147, 221);
}

li {
	padding: 20px;
}

p {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

div {
	text-align: center;
}

a {
	color: #1e8678;
	text-decoration: none !important;
}

ul a:hover {
	background-color: transparent;
	color: blue;
}

ul {
	list-style: none;
}

.title {
	font-weight: bold;
	color: #1e8678;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input {
		font-size: 16px;
	}
}

dt,
dl {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

dt {
	display: inline-block;
}

dd {
	display: inline;
	margin-left: 5px;
}
/* hey there!! */
.linko {
  color: blue;
  text-decoration: underline !important;
  transition: color 0.2s;
}
.linko :active {
  text-decoration: underline !important;
  color: blue;
}
.linko:hover {
  color: rgb(207, 12, 174);
  text-decoration: underline !important;
}
.linko:visited {
  
  color: green;
  text-decoration: underline !important;
}
#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
  }
  
  .App h1 {
	text-align: center;
  }
  .App .todos-wrapper {
	margin-left: 30px;
  }
  .App .todos-wrapper .todo-wrapper {
	display: flex;
	align-items: center;
  }
  .App .todos-wrapper .todo-wrapper button {
	margin-left: 20px;
  }
  .App .todos-wrapper .add {
	display: flex;
	align-items: flex-end;
  }
  .App .todos-wrapper .add .input-section {
	margin-right: 20px;
  }
  
  tr,
  td {
	padding: 10px;
  }
  
  .App {
	border: 10px solid black;
  }
  
  .add {
	border: 1px red solid;
  }
  .todo {
	border: 1px blue solid;
  }
  
  .todos {
	border: 1px green solid;
  }
  
  .all {
	border: 1px solid lime;
  }
  
  .allTodos {
	border: 1px solid salmon;
  }
  
  .allUsers {
	border: 1px solid crimson;
  }
  


